.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    /* display: flex; */
    justify-content: center;
    background-color: var(--primary);
    padding: 40px 200px;
}

.carousel-inner {
    width: 1200px;
    overflow: hidden;
    display: flex;
    transition: transform 0.5s ease-in-out;
    /* width: 300%; Ensure all slides fit */
    gap: 75px;
}

.carousel-item {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    width: 350px; /* Show 3 cards per slide */
}

.card {
    width: 350px !important;
    height: 510px !important;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* .carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
} */

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}

.arrow:hover {
    background-color: #444;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}