.main-content {
    margin-bottom: 100px;
}

.conct {
    width: 1200px;
    margin: 0 auto;
}

.butts {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
  }
  
  .butt {
    background-color: #f4b300;
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    width: 600px;
  }
  
  .butt2 {
    background-color: #ffffff;
    border: solid #f4b300;
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    width: 600px;
  }

  .button-wrap {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .but1 {
    font-size: 50px !important;
    color: #000 !important;
  }

  .but1 span {
    font-size: 20px;
  }

  a img {
    width: 30px;
    height: 30px;
  }

  .butts div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .image {
    width: 20px;
    height: 20px;
    color: #f4b300;
  }

  .option {
    display: flex;
    flex-direction: row;
}

  .opt {
    width: 600px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    color: #f4b300;
    margin-bottom: 50px;
  }

  .opt img{
    height: 80px;
    width: 80px;
  }

  .opt h2 {
    font-size: 60px;
  }

  .opt h2 span {
    font-size: 30px;
    margin-left: 20px;
  }

  .dl div h3 {
    font-size: 20px;
    font-weight: 700;
  }

  .dl div p {
    background-color: #D8007F;
    border: solid #D8007F;
    border-radius: 20px;
    font-size: 16px;
    color: white;
    margin-left: 20px;
    width: 70px !important;
    text-align: center;
  }

  .dr {
    margin-left: 50px;
    margin-right: 90px;
  }

  .dr h1 {
    font-size: 60px;
    font-weight: bold;
  }

  .par {
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;
  }

  .par p {
    font-size: 18px;
    font-weight: 700;
    border: solid black;
    width: 220px;
    border-radius: 20px;
  }