@media (max-width: 1024px) {
     .header-mob_menu {
        /* width: 100vh; */
        width: 80%;
     }

 }
 
 @media  (max-width: 962px) {
     .header-mob_menu {
        /* width: 100vh; */
     }
     .hero{
         width: 100vh !important;
         height: 100vh !important;
         object-fit: contain;
         background: url("../images/hero.jpg") no-repeat center center/cover;
         margin-bottom: 0;
     }
     .contact-container {
        flex-direction: column;
    }
    .contact-button {
        font-size: 20px;
        width: 180px;
        padding: 20px;
        height: 90px;
    }
    .menu-icon {
        width: 110px;
        height: 110px;
        font-size: 50px !important;
        text-align: center;
    }
    .overlay {
        justify-content: center;
    }
    .hero h1 {
        font-size: 9%;
        width: 60%;
    }
    .scroll-text {
        top: 80%;
        left: 50%;
        right: 42%;
        bottom: 0;
    }
    .mc {
        display: block;
    }
    .boxs {
        display: flex !important;
        width: 100vh;
        height: 100px;
        justify-content: center;
        align-items: center;
    }
    .boxs1 {
        width: 50%;
        background-color: #ffb300;
        color: white;
        border: 3.5px solid #ffb300;
        text-align: center;
        padding: 20px;
        justify-content: center;
        align-items: center;
    }
    .boxs1 p {
        font-size: 30px;
        font-weight: bold;
    }
    .boxs2 {
        width: 50%;
        color: #ffb300;
        background-color: white;
        border: 3.5px solid #ffb300;
        text-align: center;
        padding: 20px;
        justify-content: center;
        align-items: center;
    }
    .boxs2 p {
        font-size: 30px;
        font-weight: bold;
    }
 }
 
 @media (max-width: 480px) {
    html {
         width: 100vh;
    }
    .hero{
        width: 100vh;
        height: 100vh;
        background: url("../images/hero.jpg") no-repeat center center/cover;
        margin-bottom: 0;
    }
    .contact-container {
       flex-direction: column;
    }
    .contact-button {
        font-size: 20px;
        width: 180px;
        padding: 20px;
        height: 90px;
    }
    .menu-icon {
        width: 110px;
        height: 110px;
        font-size: 50px !important;
        text-align: center;
    }
    .overlay {
        justify-content: center;
    }
    .hero h1 {
        font-size: 90px;
        width: 60%;
    }
    .scroll-text {
        top: 80%;
        left: 50%;
        right: 42%;
        bottom: 0;
    }
    .mc {
        display: block;
    }
 }
 