.her0 {
    width: 100vh;
    height: 70vh;
    background: url("../images/sp-privacypolicy.jpg") no-repeat center center/cover;
}

.section-title {
    font-size: 50px;
}

@media (max-width: 962px) {
    .pry {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media (max-width: 480px) {
    .pry {
        margin-left: 100px;
        margin-right: 100px;
    }
    .pry div h2 {
        font-size: 45px;
        margin-bottom: 40px;
        font-weight: bold;
    }
    .pry hr {
        margin-bottom: 75px;
        margin-top: 50px;
    }
    .pry div p {
        font-size: 28px;
        margin-bottom: 30px;
        line-height: 40px;
        font-weight: 600;
    }
}