* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  z-index: 10;
}

.header a {
  text-decoration: none;
  color: white;
}

.header a:hover {
  color: var(--primary);
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: var(--primary);
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.custom-dropdown-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.custom-dropdown-wrapper .dropdown {
  color: var(--white);
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 1;
  font-weight: bold;
}

.custom-dropdown-wrapper .dropdown:hover {
  color: var(--primary);
}

.custom-dropdown-wrapper .dropdown-menu {
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  width: 250px;
  transform: translateX(-50%);
}

.custom-dropdown-wrapper .dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.custom-dropdown-wrapper .dropdown-menu li {
  padding: 0px 0;
  border-bottom: 1px solid #808080bd;
}

.custom-dropdown-wrapper .dropdown-menu li:last-child {
  border-bottom: none;
}

.custom-dropdown-wrapper .dropdown-menu a:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 7px solid #f4b300;
  border-bottom: 7px solid transparent;
  position: absolute;
  right: 20px;
  top: 50%;
  bottom: 0;
  transform: translate(50%, -50%);
}

.custom-dropdown-wrapper .dropdown-menu a:hover:before {
  border-left: 7px solid #141414;
}

.custom-dropdown-wrapper .dropdown-menu a {
  color: #000;
  display: block;
  text-decoration: none;
  padding: 7px 20px;
  text-align: left;
  font-size: 14px;
  transition: background-color 0.2s ease;
  position: relative;
  text-transform: capitalize;
}

.custom-dropdown-wrapper .dropdown-menu a:hover {
  background-color: var(--primary);
}

.hero {
  height: 100vh;
  background: url("../images/hero.jpg") no-repeat center center/cover;
  position: relative;
  margin-bottom: 3rem;

  & h1 {
    font-size: 70px;
    color: var(--white);
    margin-bottom: 10px;
  }

  .highlight {
    color: var(--primary);
    font-size: 130px;
  }

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px;
}

.scroll-text {
  position: absolute;
  color: var(--white);
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  margin-top: 10px;
  text-orientation: mixed;
  right: 50px;
  bottom: 100px;
  text-decoration: none;

  &::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 30px;
    background-color: var(--white);
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
  }
}

/* start news section css */

.news-section {
  padding: 0 0 50px;
}

.news-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.news-header {
  margin-bottom: 20px;
  grid-column: 1 / 4;
}

.news-header h1 {
  font-size: 56px;
  margin: 0;
  color: var(--primary);
  font-weight: 800;
}

.news-header p {
  font-size: 18px;
  margin: 10px 0 0 0;
  color: var(--black);
  font-weight: bold;
}

.custom-button1 {
  display: inline-block;
  padding: 10px;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 20px;
  transition: all 0.3s ease;
  width: 300px;
  height: 60px;
  text-align: center;
  position: relative;
}

.custom-button {
  display: inline-block;
  padding: 10px;
  border: 2px solid var(--primary);
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 20px;
  transition: all 0.3s ease;
  width: 200px;
  text-align: center;
  position: relative;
}

.custom-button1 span {
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  line-height: 0;

  svg {
    height: 16px;
    width: 16px;
    fill: white;
  }
}

.custom-button span {
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  line-height: 0;

  svg {
    height: 10px;
    width: 10px;
    fill: var(--primary);
  }
}

.col {
  color: var(--primary);
}

.si {
  width: 1200px !important;
  height: 200px !important;
}

.siz {
  width: 1200px !important;
  margin: auto;
  /* height: 200px !important; */
}

.siz div {
  margin-left: 50px;
  display: flex;
  gap: 50px;
}

.a {
  width: 80px;
}

.b {
  background-color: #000000;
  color: white;
  text-align: center;
  border: solid black;
  width: 100px;
}

.custom-button:hover {
  background-color: var(--primary-color);
  color: var(--black);
}

.news-list {
  width: 100%;
  grid-column: 5 / 13;
}

.news-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.news-date {
  font-size: 14px;
  color: #666;
  flex: 0 0 120px;
  font-weight: bold;
}

.news-label {
  background-color: var(--black);
  color: var(--white);
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  flex: 0 0 100px;
  text-align: center;
  margin-right: 20px;
}

.news-content {
  font-size: 12px;
  flex: 1;
  font-weight: bold;
}

@media (max-width: 991px) {
  .header {
    padding: 20px 20px;
  }

  .custom-dropdown-wrapper .dropdown {
    font-size: 13px;
  }

  .custom-dropdown-wrapper {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .custom-dropdown-wrapper {
    display: none;
  }

  .news-wrapper {
    display: block;
  }

  .news-title {
    font-size: 2rem;
  }

  .news-subtitle {
    font-size: 1.2rem;
  }

  .custom-button {
    font-size: 1rem;
    padding: 8px 16px;
  }

  .news-date {
    margin-bottom: 10px;
  }

  .news-label {
    margin-bottom: 10px;
  }

  .news-content {
    text-align: left;
  }
}

@media (max-width: 576px) {
  .news-item {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .news-date,
  .news-label {
    flex: 1;
  }
}

/* end news section css */

/* start contact us css */

.contact-section {
  background-color: #e5e5e5;
}

.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-text {
  flex: 1 1 100%;
  max-width: 45%;
  padding: 20px;
}

.contact-text h1 {
  font-size: 56px;
  margin: 0;
  color: var(--black);
  font-weight: 800;
}

.contact-text p {
  font-size: 18px;
  margin: 10px 0 0 0;
  color: var(--black);
  font-weight: bold;
}

.buttons {
  flex: 1 1 100%;
  max-width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.button {
  background-color: #f4b300;
  color: var(--black);
  text-decoration: none;
  font-weight: bold;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.button-wrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.button:hover {
  background-color: #e3a100;
}

.button span {
  font-size: 18px;
}

.button i {
  border: 2px solid var(--black);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: grid;
  place-content: center;
  margin-left: 20px;
  flex-shrink: 0;

  svg {
    height: 10px;
    width: 10px;
  }
}

@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
    align-items: center;
  }

  .contact-text,
  .buttons {
    max-width: 100%;
    padding: 10px;
  }

  .contact-text h1 {
    font-size: 28px;
  }

  .contact-text p {
    font-size: 16px;
  }

  .button {
    padding: 15px;
  }

  .button span {
    font-size: 16px;
  }

  .button i {
    margin-left: 10px;
  }
}

/* end contact us css */

footer {
  background-color: var(--white);
  color: var(--black);
  border-top: 2px solid var(--black);
  padding: 50px 0 20px 0;
}

.container1 {
  padding-inline: 100px;
  margin: 0 auto;
  max-width: 1600px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-left {
  width: 370px !important;
}

footer .logo {
  height: 60;
  /* font-size: 2.5em;
  color: var(--primary);
  font-weight: bold; */
  margin-top: 20px;
  margin-bottom: 30px;
}

.tagline {
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: bold;
}

.address {
  margin-bottom: 20px;
}

.address p {
  font-size: 10px;
  color: var(--black);
}

.address p:first-child {
  font-weight: bold;
}

.phone {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 10px;
}

.phone svg {
  height: 20px;
  width: 20px;
}

.phone a {
  font-size: 24px;
  color: var(--black);
  text-decoration: none;
  font-weight: 700;
}

.footer-center {
  flex: 2;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  border-left: 1px solid;
  border-right: 1px solid;
  padding-left: 50px;
  width: 490px !important;
}

.footer-links:not(:last-child) {
  margin-bottom: 20px;
}

.footer-links h4 {
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-links ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-links li {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
}

.footer-right {
  flex: 1;
  /* min-width: 33%; */
  width: 440px !important;
  padding-left: 50px;
}

.footer-right-news-section {
  margin-bottom: 20px;
}

.footer-right-news-section h4 {
  margin-bottom: 20px;
}

.news-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.news-items .button-wrap span:nth-child(2) {
  font-size: 10px;
}

.privacy-policy {
  text-align: right;
}

.privacy-policy a {
  color: var(--black);
  font-size: 12px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

/* Privacy Policy Section styling */
.pry {
  margin-left: 200px;
  margin-right: 200px;
}

/* About Us Section Styling */
.about-us {
  display: flex;
  align-items: stretch;
  padding: 100px 100px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #f9f4e7;
    width: 400px;
  }

  @media screen and (max-width: 1199px) {
    &.about-us {
      margin-bottom: 0;
      padding: 0 20px 20px;
    }

    &::after {
      background-color: transparent;
    }
  }
}

.about-content {
  flex: 1;
  padding-right: 10rem;
}

.about-content h3 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.about-content .section-title span {
  font-size: 26px;
  color: var(--black);
  margin-left: 10px;
  font-weight: bold;
}

.subtext {
  font-size: 20px;
  color: #555;
  margin-bottom: 20px;
  font-weight: 700;
}

.description {
  font-size: 18px;
  color: var(--black);
  line-height: 1.8;
  margin-bottom: 50px;
  font-weight: 600;
}

.learn-more-button {
  background-color: #ffd700;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.learn-more-button:hover {
  background-color: #e6b800;
}

.about-image-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.about-image {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image img {
  width: auto;
  height: 600px;
  object-fit: cover;
}

/* Business Section */
.business {
  text-align: center;
  background-color: #fff;
  position: relative;
  z-index: 1;
  padding: 0 20px 100px;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #f9f4e7;
    width: 400px;
    z-index: -1;
  }

  @media screen and (max-width: 1199px) {
    &.business {
      padding: 0 20px;
    }

    &::after {
      background-color: transparent;
    }
  }
}

.business-title p {
  color: #000;
  margin-bottom: 30px;
  font-weight: bold;
}

.business-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 0 auto;
}

.business-item {
  position: relative;
  overflow: hidden;
}

.business-item.large {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  height: 100%;
}

.business-item.small {
  height: 100%;
}

.business-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.business-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 20px;
}

.business-overlay h3 {
  margin: 0;
  font-size: 1rem;
}

.business-overlay p {
  margin: 5px 0 0;
  font-size: 2rem;
  font-weight: bold;
}

/* Interview Section */


.car {
  height: 630px;
  background-color: var(--primary);
}

#carousel {
  display: flex !important;
  gap: 75px !important;
}

.card {
  height: 510px !important;
  width: 350px !important;
  margin-top: 40px;
  margin-bottom: 80px;

}

.interview {
  text-align: center;
  padding: 40px 20px;
  background-color: #fff;
}

.interview-title p {
  color: #000;
  margin-bottom: 30px;
  font-weight: bold;
}

.interview-container {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.interview-box {
  width: 300px;
  padding: 20px;
  border: 2px solid var(--primary);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interview-box:hover {
  transform: translateY(-10px);
}

.interview-box h3 {
  font-size: 1.8rem;
  color: #ffb300;
  margin: 0;
}

.interview-box p {
  font-size: 1rem;
  color: #000;
  margin: 10px 0;
  font-weight: 700;
}

.interview-box img {
  width: 200px;
  height: auto;
  margin: 20px 0;
}

.interview-button {
  background-color: #ffb300;
  color: #fff;
  border: none;
  padding: 6px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.interview-button:hover {
  background-color: #e09b00;
}

.recruitment-section {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 40px 20px;
}

.recruitment {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  position: relative;
}

.recruitment h2 {
  color: var(--white);
  font-size: 60px;
}

.recruitment .sub-text {
  font-size: 22px;
  line-height: 1.5;
  width: 100%;
}

.recruitment p {
  font-size: 18px;
  line-height: 1.5;
  width: 100%;
}

.yellow {
  background-color: var(--primary);
  text-align: start;
  padding: 28px;
}

.image-container {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    transition: opacity 0.3s;
  }
}

.image-container:hover img {
  transform: scale(1.1);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image-button {
  position: absolute;
  bottom: 10px;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  z-index: 1;
  border: 1px solid var(--white);
}

/*---------mob menu-----------*/
.header-mob_menu {
  height: 100%;
  background: #fff;
  padding: 40px;
  width: 50%;
  position: fixed;
  top: 0;
  cursor: pointer;
  transition: 0.2s;
  height: 100%;
  right: -100%;
  overflow: auto;
  z-index: 2;
}

.menu_open {
  right: 0;
}

.header-mob_menu .logo_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 55px;
}

span.close_icon {
  height: 50px;
  width: 50px;
  display: inline-block;
  background-color: #f4b300;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

span.mob_sub_title {
  font-size: 24px;
  font-weight: bold;
}

span.close_icon svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

body.menu_open_body {
  overflow: hidden;
}

.mob_menu_right {
  /* position: absolute;
  right: 0;
  bottom: 0; */
}

.mob_menu_right .buttons {
  width: 100%;
  padding: 0;
  max-width: 100%;
}

li.mob_menu_title {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary);
}

li.mob_menu_title~li {
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  margin-right: 20px;

  & span {
    color: var(--primary);
  }
}

.mob_menu_title_subText {
  font-size: 12px;
  color: var(--black);
  margin-left: 20px;
}

ul.mob_menu_list {
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .about-us {
    flex-direction: column;
    padding: 20px;
    display: flex;
    height: 100%;
    gap: 30px;

  }

  .about-content {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .header-mob_menu {
    width: calc(100% - 60px);
  }

  .footer-content {
    flex-direction: column;
    gap: 30px;
  }

  .footer-center {
    justify-content: space-between;
    border: none;
    padding-left: 0;
  }

  .footer-right {
    margin-top: 20px;
    width: 100%;
    padding-left: 0;
  }

  .interview-container {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .business-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .about-image-wrapper::before {
    background-color: transparent;
  }

  .about-content {
    padding: 20px 0;
  }

  .recruitment-section {
    flex-direction: column;
    gap: 20px;
  }

  .header {
    flex-direction: row;
    padding: 20px;
  }

  .logo {
    font-size: 24px;
  }
}